RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]

#Remove .php extension form users.php
RewriteRule ^users/?$ users.php [NC,L]
RewriteRule ^register/?$ register.php [NC,L]

#Rewrite URL
RewriteRule ^users/([0-9]+)/?$ users.php?id=$1 [NC,L]
